
<div class="apps_container">
  <div *ngFor="let appid of data; let i = index">
    <div *ngIf="appid.app_id==idapp">
      <div class="grupo_widget" *ngFor="let combo of appid.automationList; let i = index">
            
            <div class="grupo_apps automation-app {{combo.source}} col4">
              <img src="assets/img/{{combo.source}}-icon.svg" alt="{{combo.source}} - Pluga">
            </div>
            <div class="botonauto {{combo.source}} col4">
              <a href="https://pluga.co/{{combo.url}}">AUTOMATIZAR</a>
            </div>
            <div class="grupo_apps automation-app {{combo.target}} col4">
              <img src="assets/img/{{combo.target}}-icon.svg" alt="{{combo.target}} - Pluga">
            </div>
            <div class="textoapp col4">
              <p>
              {{combo.description}}
              </p>
            </div>
          
      </div>
    </div>
  </div>
</div>
