<div class="apps_container">
  <div class="inputs">
    <input (ngModelChange)="filtro($event)" [(ngModel)]="idbuscar" class="filtroinput" placeholder="FILTER">
  </div>
  <div *ngFor="let appid of (apps); let i = index" class="grupo_apps automation-app {{appid.app_id}} ">
     <a [routerLink]="['/widget', appid.app_id]">
       <h3>{{appid.name}}</h3>
       <div *ngIf="appid.app_id!='popular'" >
          <img src="assets/img/{{appid.app_id}}-icon.svg" alt="{{appid.app_id}} - Pluga">
        </div>
    </a>
  </div>
</div>